﻿@model IEnumerable<MVC_ProjFinal.Models.Maquina>

@{
    ViewBag.Title = "AtribuirUser";
}

<h2>AtribuirUser</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModeloMaquina.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DinheiroRecebido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trocos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomeUser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ModeloMaquina.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DinheiroRecebido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trocos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomeUser)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdMaquina }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdMaquina }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdMaquina })
        </td>
    </tr>
}

</table>
