﻿@model MVC_ProjFinal.Models.Maquina

@{
    ViewBag.Title = "Criar Maquina";
}

<h2>Criar Maquina</h2>
@ViewBag.Error

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IdModeloMaquina, "IdModeloMaquina", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <table>
                    <tr>
                        @{ if (ViewBag.ModeloMaquina == null)
                            {
                                <td>
                                    @Html.DropDownList("IdModeloMaquina", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdModeloMaquina, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    @Html.ActionLink("Modelos de maquinas (modal ou createWith)", "ModeloMaquinas", "Maquinas", null, new { @class = "btn btn-info" })
                                </td>
                            }

                            else
                            {
                                @ViewBag.NomeModeloMaquina;
                                Html.HiddenFor(model => model.IdModeloMaquina, new { @value = ViewBag.ModeloMaquina });

                            }
                        }
                        <td></td>

                    </tr>
                </table>
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
