﻿@model MVC_ProjFinal.Models.Maquina

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Maquina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModeloMaquina.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeloMaquina.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DinheiroRecebido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DinheiroRecebido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trocos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trocos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomeUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdMaquina }) |
    @Html.ActionLink("Back to List", "Index")
</p>
