﻿@model MVC_ProjFinal.Models.Maquina

@{
    ViewBag.Title = "GerirMaquina";
}

<h2>Gerir Maquina</h2>
<br />
@ViewBag.Error
<div>
    <h3>
        Maquina nº
        @Html.DisplayFor(model => model.IdMaquina)

    </h3>
    <h3>
        Utilizador:   @Html.DisplayFor(model => model.idUser)
    </h3>
    <h4> @Html.DisplayFor(model => model.nomeUser)</h4>
    <hr />



    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <br />
        <br />

        @Html.AntiForgeryToken()
        <dt>
            @Html.DisplayNameFor(model => model.DinheiroRecebido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DinheiroRecebido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Trocos)

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trocos)
        </dd>
        <dd>

            <br />
            @using (Html.BeginForm("GerirMaquina", "Maquinas", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.IdMaquina, new { idmaquina = ViewBag.IdMaquina })
        <div class="form-group">
            

                    <button type="submit" value ="Repor Valores"class="btn btn-success" aria-label="repor">
                        <span class="glyphicon glyphicon-euro"></span>
                        Repor Valores
                        </button>
        
       
            </div>

            }
        </dd>
        <br />

        <br />

        <hr />
        <dt>
            Lista de Alertas
        </dt>
        <hr />
        <br />
        <br />
        
            @Html.ActionLink("Produtos na Maquina", "Index", "ProdutoMaquinas", new { idmaquina = Model.IdMaquina }, new { @class = "btn btn-info" })
        
        
    </dl>

</div>
<p>
    @Html.ActionLink("Voltar", "Index")
</p>
