﻿@model IEnumerable<MVC_ProjFinal.Models.Alerta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Maquina.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mensagem)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Maquina.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mensagem)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdAlerta }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdAlerta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdAlerta })
        </td>
    </tr>
}

</table>
