﻿@model ProjFinal.Domain.Alerta

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do Alerta</h2>

<div>
    <h4>Alerta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Maquina.idUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maquina.idUser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Maquina.nomeUser)

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maquina.nomeUser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Maquina.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maquina.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mensagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mensagem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
 @Html.ActionLink("Back to List", "Index")
</p>
