﻿@model IEnumerable<ProjFinal.Domain.Alerta>

@{
    ViewBag.Title = "Alertas";
}

<h2>Alertas</h2>


<p>
    @Html.ActionLink("Verificar Prazos de Validade", "VerificarPrazosDeValidade", "Alertas",
                                           new { idMaquina = ViewBag.IdMaquina }, new { @class = "btn btn-danger" })
    &nbsp
    &nbsp

    @Html.ActionLink("Verificar Stocks", "VerificarStocks", "Alertas",
                                           new { idMaquina = ViewBag.IdMaquina }, new { @class = "btn btn-warning" })

    &nbsp
    &nbsp

    <h3 style="Color:green">@ViewBag.Resultado</h3>

    <h3 style="Color:red">@ViewBag.Erro</h3>
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Maquina.IdMaquina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mensagem)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        if (item.Status == ProjFinal.Domain.StatusAlerta.Ativo)

        {
            <tr style="Color:red">
                <td>
                    @Html.DisplayFor(modelItem => item.Maquina.IdMaquina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mensagem)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td></td>
               
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.IdAlerta }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdAlerta }, new { @class = "btn btn-danger" })
                </td>
            </tr>

        }

        else
        {
            <tr style="Color:red">
                <td>
                    @Html.DisplayFor(modelItem => item.Maquina.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mensagem)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td></td>
              
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.IdAlerta }, new {@class="btn btn-info"}) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdAlerta }, new { @class = "btn btn-danger"})
                </td>
            </tr>
        }

    }

</table>
