﻿@model IEnumerable<ProjFinal.Domain.ProdutoMaquina>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Inserir produtos na máquina", "Create", new { @class = "btn btn-sucess" })
</p>
<h3>
    @Html.DisplayNameFor(model => model.Produto.Nome)
</h3>
<table class="table">
    <tr>

        
        <th>
            @Html.DisplayNameFor(model => model.Validade)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Nome)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Validade)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdProdutoMaquina }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdProdutoMaquina }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdProdutoMaquina })
            </td>
        </tr>
    }

</table>

