﻿@model ProjFinal.Backend.ViewModels.InserirProdutosViewModel

@{
                /**/

                ViewBag.Title = "InserirProdutosNaMaquina";
}

<h2>Inserir Produtos na Maquina</h2>

<h4>Maquina nº @ViewBag.IdMaquina</h4>
<br />
<br />
@using (Html.BeginForm("InserirProdutosNaMaquina", "ProdutoMaquinas", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IdMaquina, "IdMaquina", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @ViewBag.IdMaquina
                @Html.HiddenFor(model => model.IdMaquina, new { idmaquina = ViewBag.IdMaquina })

                @Html.ValidationMessageFor(model => model.IdMaquina, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdProduto, "Produto", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdProduto", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdProduto, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Validade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Validade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Validade, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Quantidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Inserir" class="btn btn-success" />
        </div>
    </div>
}


<div class="form-actions no-color">
    @Html.ActionLink("Voltar", "ProdutosAgrupadosNaMaquina", "ProdutoMaquinas",
                                     new { idMaquina = ViewBag.IdMaquina }, new { @class = "btn btn-info" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
