﻿@model IEnumerable<ProjFinal.Domain.ProdutoMaquina>

@{
    /**/

    ViewBag.Title = "ProdutosARetirar";
}

<h2>Produtos a retirar</h2>

<br />
<br />

<div class="form-actions no-color">
    @Html.ActionLink("Voltar", "ProdutosAgrupadosNaMaquina", "ProdutoMaquinas",
                                     new { idMaquina = ViewBag.IdMaquina }, new { @class = "btn btn-info" })
</div>
<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdProdutoMaquina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Validade)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Validade < DateTime.Now.Date)
        {
            <tr bgcolor="#ffcc80">
                <td>
                    @Html.DisplayFor(modelItem => item.IdProdutoMaquina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Nome)
                </td>
                <td>
                    <strong>
                        @Html.DisplayFor(modelItem => item.Validade)
                    </strong>
                </td>
                <td>

                    @Html.ActionLink("Retirar", "Delete", "ProdutoMaquinas",
                       new { id = item.IdProdutoMaquina }, new { @class = "btn btn-danger" })


                </td>
            </tr>
        }

        else
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProdutoMaquina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Nome)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Validade)

                </td>
                <td>

                    @Html.ActionLink("Retirar", "Delete", "ProdutoMaquinas",
                                  new { id = item.IdProdutoMaquina }, new { @class = "btn btn-danger" })


                </td>

            </tr>
        }

    }

</table>
