﻿@model IEnumerable<ProjFinal.Backend.ViewModels.ProdutosMaquinaView>
@{
    ViewBag.Title = "ProdutosNaMaquina";
}

<h2>Produtos na maquina nº</h2>
<h3> @ViewBag.IdMaquina</h3>
<br />
<p>
    @Html.ActionLink("Inserir Produtos na Maquina", "InserirProdutosNaMaquina", "ProdutoMaquinas",
                                       new { idMaquina = ViewBag.IdMaquina }, new { @class = "btn btn-success" })
    &nbsp
    &nbsp

    @Html.ActionLink("Retirar Produtos", "ProdutosARetirar", "ProdutoMaquinas",
                                                 new { idMaquina = ViewBag.IdMaquina }, new { @class = "btn btn-danger" })
    &nbsp
    &nbsp

    @Html.ActionLink("Ver todos os produtos na máquina", "TodosProdutosNestaMaquina", "ProdutoMaquinas",
                                                 new { idMaquina = ViewBag.IdMaquina }, new { @class = "btn btn-info" })

    &nbsp
    &nbsp
   
        @Html.ActionLink("Defenir Produtos Para Controlo de Stock", "Index", "Stocks", new { IdMaquina = ViewBag.IdMaquina }, new { @class = "btn btn-warning" })
    
</p>
<br />
<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoMaquina.Produto.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoMaquina.Produto.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>


        </tr>


    }

</table>


<div class="form-actions no-color">
    @Html.ActionLink("Voltar", "GerirMaquina", "Maquinas",
                    new { idMaquina = ViewBag.IdMaquina }, new { @class = "btn btn-info" })
</div>