﻿@model IEnumerable<ProjFinal.Domain.ProdutoMaquina>

@{
    ViewBag.Title = "TodosProdutosNestaMaquina";
}

<h2>Produtos na Máquina Nº  @ViewBag.IdMaquina</h2>

<br />
<br />


<div class="form-actions no-color">
    @Html.ActionLink("Voltar", "ProdutosAgrupadosNaMaquina", "ProdutoMaquinas",
                                 new { idMaquina = ViewBag.IdMaquina }, new { @class = "btn btn-info" })
</div>
<br />
<br />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Maquina.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Validade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto.Descricao)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Maquina.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Validade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Descricao)
            </td>

        </tr>
    }

</table>
