﻿@model IEnumerable<ProjFinal.Domain.ProdutoMaquina>

@{
    ViewBag.Title = "TodosProdutosNasMaquinas";
}

<h2>Todos os Produtos Nas Maquinas</h2>
<br />
<br />
<p>
    <div>
        Produtos nas Máquinas: @ViewBag.Todos
    </div>   
</p>
 &nbsp
 &nbsp
<p>
    @Html.ActionLink("Inserir Produto numa Máquina", "Index","Maquinas", null,new { @class = "btn btn-success" })

    &nbsp
    &nbsp
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Maquina.IdMaquina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Validade)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {       

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Maquina.IdMaquina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Nome)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Validade)
                </td>

                <td>                   
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdProdutoMaquina }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        
    }
</table>
