﻿@model ProjFinal.Domain.Produto

@{
    ViewBag.Title = "Comprar";
}

<h2>Comprar?</h2>


<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoriaProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaProduto)
        </dd>       

        <dt>
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagem)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Comprar" class="btn btn-success" /> |
            @Html.ActionLink("Voltar", "ProdutosNaMaquina", new { idMaquina = ViewBag.IdMaquina})
        </div>
    }
</div>
