﻿@model ProjFinal.Domain.ProdutoMaquina

@{
    ViewBag.Title = "Comprar";
}

<h2>Comprar?</h2>


<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Maquina.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maquina.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Validade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Produto.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto.Preco)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Comprar" class="btn btn-success" /> |
            @Html.ActionLink("Voltar", "ProdutosNaMaquina",new { idMaquina = Model.IdMaquina })
        </div>
    }
</div>
