﻿@model ProjFinal.Domain.Fatura

@{
    ViewBag.Title = "Delete";
}

<h2>Comprar?</h2>


<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProdutoMaquina.IdProdutoMaquina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdutoMaquina.IdProdutoMaquina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "ProdutosNaMaquina", new {id=Model.ProdutoMaquina })
        </div>
    }
</div>
