﻿@model ProjFinal.Domain.Fatura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fatura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProdutoVendido.IdProdutoMaquina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdutoVendido.IdProdutoMaquina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdFatura }) |
    @Html.ActionLink("Back to List", "Index")
</p>
