﻿@model IEnumerable<ProjFinal.Domain.Maquina>

@{
    ViewBag.Title = "EscolherMaquina";
}

<h2>EscolherMaquina</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdMaquina)
        </th>7
        <th>
            @Html.DisplayNameFor(model => model.nomeUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DinheiroRecebido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trocos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomeUser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdMaquina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomeUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DinheiroRecebido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trocos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomeUser)
        </td>
        <td>
            @Html.ActionLink("Ver produtos na maquina", "ProdutosNaMaquina", "Faturas", new { idMaquina = item.IdMaquina }, new { @class = "btn btn-info" })

        </td>
    </tr>
}

</table>
