﻿@model IEnumerable<ProjFinal.Domain.Fatura>

@{
    ViewBag.Title = "Index";
}

<h2>Escolher Produto a Comprar</h2>


<p>
    @Html.ActionLink("Escolher Maquina para Comprar", "EscolherMaquina")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoMaquina.IdProdutoMaquina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoMaquina.IdProdutoMaquina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdFatura }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdFatura }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdFatura })
            </td>
        </tr>
    }

</table>
