﻿@model IEnumerable<ProjFinal.Domain.Produto>

@{
    ViewBag.Title = "ProdutosNaMaquina";
}

<h2>ProdutosNaMaquina</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaProduto)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Imagem)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoriaProduto)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.Imagem)
        </td>
        <td>
        <td>
            @Html.ActionLink("Comprar", "Comprar", new { id = item.IdProduto }, new { @class = "btn btn-success" })
        </td>
    
    </tr>
}

</table>
