﻿@model IEnumerable<ProjFinal.Domain.ProdutoMaquina>

@{
    ViewBag.Title = "ProdutosNaMaquina";
}

<h2>Escolher Produto a Comprar</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Maquina.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Validade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Maquina.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produto.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Validade)
        </td>
        <td>           
            @Html.ActionLink("Comprar", "Comprar", new { id=item.IdProdutoMaquina }, new { @class="btn btn-success"})
        </td>
    </tr>
}

</table>
