﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
               

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href='@Url.Action("Index", "Home")'>
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="glyphicon glyphicon-cog"></span>
                            Maquinas<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Lista de Maquinas", "Index", "Maquinas")</li>
                            <li>@Html.ActionLink("Modelos de Maquina", "Index", "ModeloMaquinas")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="glyphicon glyphicon-cutlery"></span>
                            Produtos<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Lista de Produtos", "Index", "Produtoes")</li>
                            <li>@Html.ActionLink("Produtos nas Maquinas", "TodosProdutosNasMaquinas", "ProdutoMaquinas")</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="glyphicon glyphicon-warning-sign"></span>
                            Alertas<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li> @Html.ActionLink("Alertas", "Index", "Alertas")</li>

                        </ul>
                    </li>
                    <li>
                        
                       
                    </li>



                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="glyphicon glyphicon-user"></span>
                            Gestão de Users<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Permissões", "Index", "Users")</li>
                            <li>@Html.ActionLink("Atribuir user a Maquina", "ListaMaquinasUser", "Maquinas")</li>

                        </ul>

                </ul>





                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
   
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;CINEL @DateTime.Now.Year - Vending Software </p>
        </footer>
    </div>   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
