﻿@model IEnumerable<ProjFinal.Domain.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Produtos disponíveis para colocar nas Máquinas</h2>

<br />
<p>
    @Html.ActionLink("Adicionar", "Create",null, new {@class="btn btn-info" })
</p>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            Imagem
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaProduto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @if(!string.IsNullOrEmpty(item.Imagem))
            {
                <img src="@Url.Content(item.Imagem)" alt="Imagem" style="width:80px; height:80px; max-width:100%; height:auto"/>
            }
           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoriaProduto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdProduto }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdProduto }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdProduto })
        </td>
    </tr>
}

</table>
