﻿@model IEnumerable<MVC_ProjFinal.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaProduto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoriaProduto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdProduto }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdProduto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdProduto })
        </td>
    </tr>
}

</table>
