﻿@model IEnumerable<ProjFinal.Backend.ViewModels.UserView>
@{
    ViewBag.Title = "Index";
}

<h2>Gestor de Permissões</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
           
            <td>
                @Html.ActionLink("Permissões", "Roles", new { UserID = item.UserId }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>