﻿@model ProjFinal.Backend.ViewModels.UserView

@{
    ViewBag.Title = "Permissoes";
}

<h2>Permissões para o utilizador: @Model.Name</h2>

<p>
    @Html.ActionLink("Adicionar Permissão", "AddRole", new { userID = Model.UserId }, new { @class = "btn btn-success" })

</p>


<table class="table">

    @for (int i = 0; i < Model.Roles.Count; i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Roles[i].Name)
            </td>
            <td>
                @Html.ActionLink("Apagar", "Delete", new { userID = Model.UserId, roleID = Model.Roles[i].RoleID })
            </td>
        </tr>
    }


</table>


@Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-info" })