﻿@model ProjFinal.Domain.Stock

@{
    ViewBag.Title = "Create";
}

<h2>Adicionar Produto a Configuração do Stock da Máquina @ViewBag.Maquina</h2>
<h3></h3>

@using (Html.BeginForm("Create", "Stocks", FormMethod.Post, new { idMaquina = ViewBag.Maquina }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4 style="color:red">@ViewBag.Error</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @{
        if (ViewBag.Maquina != null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.IdMaquina, "IdMaquina", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @ViewBag.Maquina
                    @Html.HiddenFor(model => model.IdMaquina, new { Value = ViewBag.Maquina })
                    @Html.ValidationMessageFor(model => model.IdMaquina, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        else
        {
            <div class="form-group">
                @Html.LabelFor(model => model.IdMaquina, "IdMaquina", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("IdMaquina", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdMaquina, "", new { @class = "text-danger" })
                </div>
            </div>
        }

    }


    <div class="form-group">
        @Html.LabelFor(model => model.IdProduto, "IdProduto", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IdProduto", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdProduto, "", new { @class = "text-danger" })
        </div>
    </div>
    <!--
    <div class="form-group">
        @Html.LabelFor(model => model.StockSeguranca, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StockSeguranca, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StockSeguranca, "", new { @class = "text-danger" })
        </div>
    </div>
        -->
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Adicionar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Voltar", "Index", new { IdMaquina = ViewBag.Maquina }, new { @class = "btn btn-info" })
</div>
