﻿@model ProjFinal.Domain.Stock

@{
    ViewBag.Title = "Delete";
}

<h2>Apagar Produto</h2>

<h3> ViewBag.IdMaquina</h3>

<h3 style="Color:red">Tem a certeza que pretende retirar o produto do stock da máquina?</h3>
<div>
    <h4>Stock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Maquina.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maquina.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockSeguranca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockSeguranca)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index", new { IdMaquina = ViewBag.IdMaquina }, new{@class="btn btn-info"})
        </div>
    }
</div>
