﻿@model IEnumerable<ProjFinal.Domain.Stock>

@{
    ViewBag.Title = "Index";
}

<h2>Configuração de Produtos a Vender</h2>

<h3>Máquina @ViewBag.Maquina</h3>

<h4>@ViewBag.Error</h4>
<br />
<br />

@Html.ActionLink("Adicionar Produto", "Create", new { IdMaquina = ViewBag.Maquina }, new { @class = "btn btn-success" })
<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdMaquina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdMaquina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Nome)
            </td>

            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.IdStock, IdMaquina = ViewBag.Maquina }, new { @class = "btn btn-Danger" })
            </td>
        </tr>
    }

</table>


<div class="form-actions no-color">
    @Html.ActionLink("Voltar", "ProdutosAgrupadosNaMaquina", "ProdutoMaquinas",
                        new { idmaquina = ViewBag.Maquina }, new { @class = "btn btn-info" })
</div>
