﻿@model IEnumerable<MVC_ProjFinal.Models.ProdutoMaquina>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3>
    Maquina nº @ViewBag.IdMaquina
    

</h3>




<p>
    @Html.ActionLink("Inserir Produtos na Maquina", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Maquina.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockSeguranca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Validade)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Maquina.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockSeguranca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Validade)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdProdutoMaquina }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdProdutoMaquina }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdProdutoMaquina })
            </td>
        </tr>
    }
    <tr>
        <th>Total</th>
        <th></th>
        <th>XXX/YYY</th>
        <th></th>
        <th></th>

    </tr>


</table>
