﻿
.navbar-inverse {
    background-color: orangered;
    border-color: orangered;
}

a {
    color: darkcyan;
}


.navbar-collapse ul li a {
    color: #000000;
}



.navbar-inverse .navbar-nav > li > a {
    color: black;
    font-size: medium;
}


h2 {
    color: orangered;
}


#banner {
    background-attachment: scroll, fixed;
    background-color: #494d53;
    background-image: url("../Content/Imagens/Vending-Machines-Ajman.png");
   
    background-position: top left, center center;
    background-repeat:no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 16em 0;
    position: relative;
    text-align: center;
}
