﻿@model ProjFinal.Domain.ModeloMaquina

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ModeloMaquina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CapacidadeProdutos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CapacidadeProdutos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CapacidadeDinheiro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CapacidadeDinheiro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CapacidadeTrocos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CapacidadeTrocos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoMaquina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMaquina)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdModeloMaquina }) |
    @Html.ActionLink("Back to List", "Index")
</p>
