﻿@model IEnumerable<ProjFinal.Domain.ModeloMaquina>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CapacidadeProdutos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CapacidadeDinheiro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CapacidadeTrocos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoMaquina)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CapacidadeProdutos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CapacidadeDinheiro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CapacidadeTrocos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoMaquina)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdModeloMaquina }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdModeloMaquina }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdModeloMaquina })
        </td>
    </tr>
}

</table>
