﻿@model ProjFinal.Domain.Maquina

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Maquina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModeloMaquina.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeloMaquina.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DinheiroRecebido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DinheiroRecebido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trocos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trocos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomeUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeUser)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
