﻿@model ProjFinal.Domain.Maquina

@{
    ViewBag.Title = "GerirMaquina";
}

<h2>Gerir Maquina</h2>
<br />
@ViewBag.Error
<div>
    <h3>
        Maquina nº
        @Html.DisplayFor(model => model.IdMaquina)

    </h3>
    <h3>
        Utilizador:   @Html.DisplayFor(model => model.idUser)
    </h3>
    <h4> @Html.DisplayFor(model => model.nomeUser)</h4>
    <hr />





    <div class="container">
       
        
        <br />
        <br />
        <br />
        <div class="col-md-3 text-center">

            <h2>Gestão da Máquina @Model.IdMaquina</h2>
        </div>
        <div class="col-md-3 text-center">
            <h2>
                <a href="@Url.Action("Index", "Alertas", new {idmaquina=ViewBag.IdMaquina })" class="btn btn-danger">
                    <span class="badge">@ViewBag.Alertas</span> Alertas ativos
                </a>
            </h2>
            <br />
            <br />
            <h3><span class="glyphicon glyphicon-warning-sign" font-size="50px"></span></h3>
            <h3>Alertas</h3>
        </div>


        <div class="col-md-3 text-center">
            <h2>
                @Html.ActionLink("Produtos na Maquina", "ProdutosAgrupadosNaMaquina", "ProdutoMaquinas", new { idMaquina = Model.IdMaquina }, new { @class = "btn btn-info" })

            </h2>
            <br />
            <br />
            <h3><span class="glyphicon glyphicon-cutlery" font-size="50px"></span></h3>
            <h3>Produtos na Maquina</h3>
        </div>

        <br />
        @using (Html.BeginForm("GerirMaquina", "Maquinas", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.IdMaquina, new { idmaquina = ViewBag.IdMaquina })
        <div class="form-group">
            <div class="row">

                <div class="col-md-3 text-center">

                    <button type="submit" value="Repor Valores" class="btn btn-success" aria-label="repor">

                        Repor Valores
                    </button>
                    <h3><span class="glyphicon glyphicon-euro" font-size="50px"></span></h3>

                    <h3>
                        @Html.DisplayNameFor(model => model.DinheiroRecebido)
                    </h3>
                    <h3>
                        @Html.DisplayFor(model => model.DinheiroRecebido)
                    </h3>
                    <h3>
                        @Html.DisplayNameFor(model => model.Trocos)

                    </h3>

                    <h3>
                        @Html.DisplayFor(model => model.Trocos)
                    </h3>
                    <br />

                </div>


            </div>
        </div>
}
        <p>
            @Html.ActionLink("Voltar", "Index",null, new { @class = "btn btn-info" })
        </p>
