﻿@model IEnumerable<ProjFinal.Domain.Maquina>

@{
    ViewBag.Title = "Maquinas";
}



<h2>Máquinas</h2>


<p>
    @Html.ActionLink("Nova Máquina", "Create", "Maquinas", new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdMaquina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModeloMaquina.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModeloMaquina.TipoMaquina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomeUser)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.IdMaquina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModeloMaquina.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModeloMaquina.TipoMaquina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomeUser)
        </td>
        <td>
           
            @Html.ActionLink("Delete", "Delete", new { id = item.IdMaquina }, new { @class = "btn btn-danger" })
            @Html.ActionLink("Editar", "Edit", new { id = item.IdMaquina }, new { @class = "btn btn-default" })
        </td>
        <td>
            @Html.ActionLink("Gerir Maquina", "GerirMaquina", "Maquinas", new { idMaquina = item.IdMaquina }, new { @class = "btn btn-info" })
        </td>


    </tr>
    }

</table>

