﻿@model IEnumerable<ProjFinal.Domain.Maquina>

@{
    ViewBag.Title = "ListaMaquinasUser";
}

<h2>ListaMaquinasUser</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdMaquina)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.nomeUser)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdMaquina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeUser)
            </td>
            <td>
                @Html.ActionLink("Atribuir Cliente", "AtribuirUser", new { idMaquina = item.IdMaquina }, new { @class = "btn btn-warning" })
            </td>
        </tr>
    }

</table>
