﻿@model IEnumerable<ProjFinal.Domain.ModeloMaquina>

@{
    ViewBag.Title = "ModeloMaquinas";
}

<h2>Modelos das Maquinas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CapacidadeProdutos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CapacidadeDinheiro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CapacidadeTrocos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoMaquina)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadeProdutos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadeDinheiro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadeTrocos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMaquina)
            </td>
            <td>
                @Html.ActionLink("Escolher", "Create", "Maquinas", new { idModeloMaquina = item.IdModeloMaquina }, new { @class = "btn btn-success" })
            </td>
        </tr>
    }

</table>
