﻿@{
    ViewBag.Title = "Home Page";
}
<section id="banner">
    <div class="body-content" style="background-color:rgb(255, 255, 255, 0.8)">
        <h2 style="font-size:50px!important; 
            color: orangered !important" >Vending Machines</h2>
        <h4></h4>
    </div>
</section>